[Unit]
Description=Wizarr media server invitation system
After=network.target

[Service]
Type=exec
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__
Environment=PATH=__INSTALL_DIR__/.venv/bin:/usr/local/bin:$PATH
Environment=PYTHONPATH=__INSTALL_DIR__
ExecStart=__INSTALL_DIR__/.venv/bin/uv run gunicorn --config gunicorn.conf.py --preload --workers 4 --bind 127.0.0.1:__PORT__ --umask 007 run:app
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=append:/var/log/__APP__/__APP__.log
SyslogIdentifier=__APP__
Restart=always
RestartSec=10

# Sandboxing options
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
DevicePolicy=closed
ProtectClock=yes
ProtectControlGroups=yes
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths=__INSTALL_DIR__

[Install]
WantedBy=multi-user.target
